@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme{
  --color-muted-olive :#ddded9;
  --color-olive-light :#e3e2e1;
  --color-card :#d1cecb;
}

body{
  font-family: "Nunito";
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}